<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  {% load static %}
    <style>
     .divstyle{
      border: 1px solid powderblue;
      background:#D3D3D3;
     background-image:url({% static 'polls1/b1.jpg' %});

    }
    </style>
</head>
<body class="divstyle">
<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'polls1:index' %}">Ramya's Polls</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav  mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'polls1:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'polls1:about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.goodreads.com/">GoodReads</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Favorites
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://gaana.com/">Music</a>
          <a class="dropdown-item" href="https://www.readanybook.com/genre/thriller-4">Horror Novels</a>
          <a class="dropdown-item" href="https://pizzaonline.dominos.co.in/">Pizza</a>
        </div>
      </li>
    </ul>
      <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-link" href="{% url 'news'%}">NewsLetter SignUp</a>
                </li>
            </ul>
  </div>
</nav>

<div class="container " >


    <div class="jumbotron" style="background:#ff9999;" >
        <h1 text-align="center">My Very Own Polls App!!</h1>
 {% load static %}
        <img src="{% static 'polls1/main.jpg' %}"  class="img-responsive "  style="height:100px;left-padding:50px;"/>
        <br />
         <br />

<p>This is my first attempt at creating a polls app by using HTMl, CSS, Django and Bootstrap</p>
                            <p>Hope this is looking presentable enough </p>


                            {% load static %}
                            <img src="{% static 'polls1/imgmain.jpg' %}"  class="img-responsive"  style="height:55px;"/>
        <br />
        <br />
                            <p>Definitely need  to add more and more improvisations to the app.</p>
                            <p>Anyways I feel satisfied with my first effort</p>


     {% load static %}
        <img src="{% static 'polls1/img1.jpg' %}"  class="img-responsive " style="height:45px;"/>
        <br />
        <br />
        <p>I would love to know what you guys think about my first effort though</p>
        <p>Comments and Criticizations are welcome</p>
        <br />

       {% load static %}
        <img src="{% static 'polls1/img2.jpg' %}"  class="img-responsive " style="height:45px;"/>
        <br />



</div>
</div>
</body>
</html>